@model TableViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div id="columnFiltersContainer"></div>

<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th>@Model.Columns.Name</th>
            <th>@Model.Columns.Role</th>
            <th>@Model.Columns.Job</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/table/crewTable.js" asp-append-version="true"></script>
    <script src="~/js/table/emptyTableMessage.js" asp-append-version="true"></script>
    <script src="~/js/table/filterNames.js" asp-append-version="true"></script>
    <script src="~/js/table/filterRoles.js" asp-append-version="true"></script>
    <script src="~/js/table/filterJobs.js" asp-append-version="true"></script>
    <script src="~/js/table/SelectSimple.js" asp-append-version="true"></script>
    <script src="~/js/table/filtersClear.js" asp-append-version="true"></script>
    <script src="~/js/table/ClearFilters.js" asp-append-version="true"></script>
    <script src="~/js/table/columnFiltersArea.js" asp-append-version="true"></script>
    <script src="~/js/table/ColumnFilters.js" asp-append-version="true"></script>
    <script src="~/js/table/table.js" asp-append-version="true"></script>
}