@model TableViewModel

@{ 
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div class="form-inline">
    <div>Column Filters</div>
    <div id="filter-names"></div>
    <div id="filter-roles"></div>
    <div id="filter-jobs"></div>
    <a id="clearFilters" class="btn text-primary" style="display: none;">Clear Filters</a>
</div>

<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th>@Model.Columns.Name</th>
            <th>@Model.Columns.Role</th>
            <th>@Model.Columns.Job</th>
        </tr>
    </thead>
</table>
