@model TableViewModel

@{ 
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Job</th>
        </tr>
    </thead>
</table>
